.title {
    margin: 150px 0px 100px 0px;
    /* border-bottom: 1px solid #bbb; */
}
.link {
    list-style: none;
    text-decoration: none;
    color: #000;
}
.sedan,
.diahinh,
.coupe,
.dadung {
    margin-top: 100px;
}
#list {
    position: fixed;
}
.products .card {
    margin-bottom: 50px;
    border: none;
    transition: 0.25s;
    /* Huynh Anh */
    height: 274px;
}
.products .card:hover {
    box-shadow: 1px 3px 10px #bbb;
}
.outstanding .products {
    position: relative;
    border-bottom: 13px solid transparent;
    /* Huynh Anh */
    height: 326px;
}

.text {
    font-size: 16px;
    text-align: center;
}
.name {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
.card {
    margin-right: 10px;
}
/*  */
.products .info {
    display: none;
    width: calc(100% - 16px);
    margin: 8px auto 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 1px 3px 10px #bbb;
    position: absolute;
    bottom: -150px;
    left: 8px;
    background: #fff;
    z-index: 1;
    border-bottom: none !important ;
}
.products .info-text {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 20px 20px;
    border-bottom: 2px solid #ccc;
    color: #333;
    transition: 0.25s;
}
.products .info-text:hover {
    background: #ccc;
    font-size: 20px;
}
.outstanding .info-text:hover {
    background: #ccc;
}

.info-text:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
/*  */
.products:hover .info {
    border-bottom: 1px solid #333;
    margin-top: 8px;
    /* background-color: #ccc; */
    display: block;
}
.header-list {
    margin-left: 50px;
    font-size: 4rem;
}
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    scroll-behavior: smooth;
    position: relative;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header .navbar {
    background: #000;
}

/* Navbar brand */
.header .navbar-brand {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header .logo {
    width: 55px;
    height: 55px;
}

.header .text-logo {
    font-size: 2rem;
    color: #fff;
}

/* Navbar menu */
.header .navbar-nav {
    margin: 0 auto;
}

.header .nav-link {
    margin: 0 12px;
    font-size: 1.6rem;
    color: #bbb;
}

.header .nav-link:hover {
    opacity: 0.7;
}

/* Navbar form */
.header .form-control {
    width: 200px;
    height: 30px;
    border-color: #fff;
    color: #bbb;
}

.header .btn {
    width: 80px;
    color: #fff;
}

.header .btn:hover {
    background: transparent;
    opacity: 0.7;
}

/* Navbar toggler */
.header .navbar-toggler {
    height: 40px;
    width: 80px;
    background: #ffffff;
}

.header .navbar-toggler-icon {
    color: #000;
    width: 30px;
}
/* Footer */
.footer {
    padding: 50px 0 0;
    margin-top: 200px;
    background: #000;
}

.footer .nav-link {
    color: #bbb;
    margin-bottom: 15px;
}
/* header */
.header .list:hover {
    color: #bbb;
}
.main-menu:hover .menu{
    display: block;
    transition: 4s linear;
}

.menu{
    display: none;
    position: sticky;

}
 